{% extends 'base.html' %}


{% block title %}Edit Task{% endblock title %}

{% block content %}
<h1>Edit Task</h1>
<form method="POST" action="{{ url_for('submit_task_update', pk=task['id']) }}">
    <p>
        <label for="name">
            Name
        </label>
        <input type="text" name="name" id="id_name" value="{{ task['name'] }}">
    </p>
    <p>
        <label for="summary">
            Summary
        </label>
        <input type="text" name="summary" id="id_summary" value="{{ task['summary'] }}">
    </p>
    <p>
        <label for="description">
            Description
        </label>
        <input type="text" name="description" id="id_description" value="{{ task['description'] }}">
    </p>
    <input type="hidden" name="is_done" id="id_is_done" value="{{ task['is_done'] }}">
    <input type="submit" class="btn btn-success" value="Edit">
</form>
{% endblock content %}